<navbar>
        <a href="#"><img src="img/logo.png" class="logo"></a>
        <div class="toggle" onclick="toggleMenu()"></div>
        <ul class="navigation">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/rooms">Rooms</a></li>
            <li><a href="/cart">Cart</a></li>
            {{#if logined}}
            <li><a href="/details">Account</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            <li><a href="/contact">Contact</a></li>
        </ul>
</navbar>