@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html {
    height: 100%;
    box-sizing: border-box;
  }
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }
  .logReg{
    background: url("/img/5.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
  }
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #e4a853; */
    /* background-image: url("/img/nav_bg.png"); */
}
.detailsHeader{
    background-image: url("/img/nav_bg.png");
}
header .logo{
    position: relative;
    max-width: 150px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 40px;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
.home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.details{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details .det{
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}
.reg{
    /* background: #e4a853; */
    background-image: url("/img/nav_bg.png");
    background-size: cover;
    background-position: center;
    margin: 4% 15% 0 15%;
}
.reg .main{
    display: flex;
    padding: 20px;
}
.reg .main .left{
    width: 25%;
    margin: auto;
}
.reg .main .left h1{
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}
.reg .main .left h2{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}
.reg .main .right{
    width: 75%;
    background-color: #fff;
    border-radius: 50px 0 0 50px;
}
.toggle{
    text-align: right;
}
.toggle button{
    background-color: #e4a853;
    border: transparent;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}
.toggle button .outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle button .outer .inner1{
    background-color: #fff;
    border: transparent;
    border-radius: 30px;
    color: #e4a853;
    margin: 3px;
    padding: 3px;
}
.toggle button .outer .inner2{
    padding: 0 25px;
}
.reg .main .right h1{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
form{
    display: flex;
    padding: 30px;
}
form .form-left{
    width: 50%;
}
form .form-right{
    width: 50%;
}
form .form-middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form input{
    width: 90%;
    padding: 3px;
    margin: 10px;
}
form .radio{
    width: 10%;
    margin: 20px 5px;
}
form .button{
    text-align: right;
    margin-right: 5px;
}
form button{
    padding: 10px 30px;
    background-color: #e4a853;
    border: transparent;
    border-radius: 30px;
    margin: 30px 10px 5px 10px;
    color: #fff;
}

.bookingDetails{
    margin: 3% 5%;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
}

.bookingdetailsinbookedpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookeditems{
    display: flex;
    flex-direction: column; 
    width: calc((100% / 3));
    margin: 2% 2%;
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    box-align: center;
    box-shadow: 0px 0px 18px 0 #0000002c; 
} 

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .reg .main{
        
        flex-direction: column;
    }
    .reg .main .left{
        width: 100%;
        margin: auto;
    }
    .reg .main .right{
        width: 100%;
        border-radius: 10%;
    }
  }
  @media only screen and (max-width: 580px) {
    .reg{
        margin: 5% 5%;
    }
    form{
        flex-direction: column;
        padding: 10px;
    }
    form .form-left{
        width: 100%;
    }
    form .form-right{
        width: 100%;
    }
  }
  @media only screen and (max-width: 440px) {
    header .navigation{
        flex-direction: column;
    }
    header .navigation li a{
        margin-right: 1px;
    }
    .reg .main{
        padding: 5px;
    }
  }
.extra-links {
    text-align: center;
}

.need-help,
.new-account {
    display: block;
    margin-top: 10px;
}
